/** CSS STYLE **/

/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap");

/* COLOURS */
:root {
  --white: #fff;
  --semi-transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --dark-primary: #42413c;
  --dark: #2a2626;
  --semi-transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  /* FONT */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
}

/* Background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

/* All TITLES */
.title {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* SECTIONS */
section {
  max-width: 1110px;
  margin: 100px auto;
}

/* HEADER */
.header-container {
  position: relative;
}

.logo-header {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.link-header-button {
  background: var(--primary, #fe8a02);
  border: none;
  padding: 12px 24px;
  font-weight: bold;
  color: var(--white, #fff);
}

.orange {
  color: var(--primary, #fe8a02);
}

.hello {
  display: block;

  color: #fff;
}
